<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8" />
<title> Merchant Register Form </title>
</head>
<body>
<h2>{{ status }}</h2>    
<form id="form" name="form" method="post" action="#">
    <p>Name  <input class="space_common" type="text" onfocus="if(this.value=='Name')this.value='';" value="Name" name="name"></p>
    <p>Email  <input class="space_common" type="text" onfocus="if(this.value=='Email')this.value='';" value="Email" name="email"></p>
    <p>Choose a username  <input class="space_common" type="text" onfocus="if(this.value=='username')this.value='';" value="username" name="username"></p>
    <address><p>Address  <input class="space_common" type="text" onfocus="if(this.value=='Address')this.value='';" value="Address" name="address"></p>
        <p>City  <input class="space_common" type="text" name="city" ></p>
        <p>State  
            <select name="state">
                <option>AL</option>
                <option>BM</option>
                <option>CA</option>
                <option>PA</option>
                <option>NY</option>
                <option>NH</option>
                <option>MA</option>
            </select>
        </p>
        <p>Zip-code  <input class="space_common" type="text" name="zipcode"></p>
        <p>Country  
            <select name="country">
                <option>United States</option>
                <!--<option>BM</option>
                <option>CA</option>
                <option>PA</option>
                <option>NY</option>
                <option>NH</option>
                <option>MA</option>-->
            </select>
        </p>
    </address>
    <p>Phone number  <input class="space_common" type="text" onfocus="if(this.value=='Phone number')this.value='';" value="Phone number" name="phone"></p>
    <textarea name="description"></textarea>
    <input class="button" type="submit" value="Save">
</form>





</body>
</html>