{% extends "base.html" %}

{% comment %}{% load thumbnail %}{% endcomment %}

{% block title %}{{ experience.title }}{% endblock %}

{% block content %}
<div class="container">
	<div class="space30"></div>
    <div class="span8 column">
        <h1>{{ experience.title }}</h1>
		<div id="img-gallery">
			<div id="exp-main-image-outer">
				<div id="exp-main-image"></div>
			</div>
			<div id="exp-img-thumbs">
			<div id="exp-thumbs">
                {% if experience.photo1 %}<img class="exp-thumbs-img" alt="{{ experience.title }}" src="{{experience.photo1.url}}">{% endif %}
                {% if experience.photo2 %}<img class="exp-thumbs-img" alt="{{ experience.title }}" src="{{experience.photo2.url}}">{% endif %}
                {% if experience.photo3 %}<img class="exp-thumbs-img" alt="{{ experience.title }}" src="{{experience.photo3.url}}">{% endif %}
                {% if experience.photo4 %}<img class="exp-thumbs-img" alt="{{ experience.title }}" src="{{experience.photo4.url}}">{% endif %}
                {% if experience.photo5 %}<img class="exp-thumbs-img" alt="{{ experience.title }}" src="{{experience.photo5.url}}">{% endif %}
                </div><!-- close exp-thumbs -->
            </div>
        </div><!-- close img-gallery -->
        <div class="description">
            {{ experience.description|safe }}
        </div>
    </div><!-- close span8 column -->
    <div class="span4 column">
        <h1>&nbsp;</h1>
        <div id="action-bar" class="panel span4 font12 row">
            <div class="price">
                ${{ experience.price }}<a href="#"></a>
                <span class="unit">{{ experience.unit_name }} per person</span><!-- this will have to be replaced by the unit_name -->
            </div>
            <div class="space10"></div>
            <div class="row">
                <span class="date">Dec 18, 2pm</span>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
                <input type="submit" class="btn" value="Buy" />
            </div>
            <div class="row">
                <span class="date">Dec 18, 2pm</span>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
                <input type="submit" class="btn" value="Buy" />
            </div>
            <div class="row">
                <span class="date">Dec 18, 2pm</span>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
                <input type="submit" class="btn" value="Buy" />
            </div>
        </div>
        <div id="seller-info" class="panel row">
            <div class="pad15">
                <h3>{{merchant.name}}</h3>
                <div class="row">
                    <div id="merchant-image">
                        <div class="image-wrapper" style='width:100px; height:100px; position:relative;'>
                            <img alt="{{ merchant.name }}" src="{% if merchant.photo %}{{ 3 }}{% else %}http://graph.facebook.com/{{ merchant.FB_ID }}/picture/?type=large{% endif %}">
                        </div>
                    </div>
                    <div id="merchant-address">
                    {{ merchant.address }}<br />
                    </div>
                </div>
                <a class="btn btn-blue font14" style="float: left; margin-bottom: 10px;">Contact me</a>
            </div><!-- close pad15 -->
        </div><!-- close seller-info -->
        <div class="pad8 panel row">
            <div id="map">
                <input type='hidden' id='location_field' value='{{ location }}' />
            </div>
        </div>
        <div class="secondary">
				<ul>
                <li>Experience listed on {{ experience.pub_date }}</li>
                <li>{{ experience.views }} views</li><!-- do we track this? where? -->
                {% comment %}<li>{{ experience.wish_list_adds }} added this experience to their wish list</li>{% endcomment %}
                <li><a href="#" title="report an experience">Report this experience</a></li>
            </ul>
        </div>
    </div><!-- close span4 column -->
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    $(document).ready(function()
    {
        $('#location_field').geoview({ 'map_id' : 'map'});
    });
</script>
{% endblock %}



