<!-- THIS IS THE HOME PAGE INDEX.HTML SAVED IN THE EXPERIENCES APP -->
{% extends "base.html" %}



    {% block wrapper %}
        <!--<h1>hits: {{ hits }}</h1>-->
        {% block content %}
            <div class="image-grid">
                <ul class="image-gallery">
                {% for experience in recent_experiences %}
                    <li id="#" class="listing-item">
                        <a class="#" title="{{ experience.title }}" href="{% url experience_profile experience.id %}">
                            <img width="310" height="207" alt="{{ experience.title }}" {% if experience.photo1 %}src="{{ experience.photo1.url }}"{% endif %}>
                        </a>
                        <div id="thumb-details">
                            <p class="listing-title">
                                <a title="{{ experience.title }}" href="{% url experience_profile experience.id %}"> {{ experience.title }} </a>
                            </p>
                            <p class="listing-merchant">
                                <a title="{{ experience.merchant.name }}" href=""> {{ experience.merchant.name }}, {{ experience.address }}</a>
                            </p>
                            <p class="listing-price">
                                <span class="currency-symbol">$</span>
                                {{ experience.price }}
                                <span class="currency-code"></span>
                            </p>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div><!-- end image-grid div -->
        {% endblock %}<!-- end content block -->
    {% endblock %}<!-- end wrapper block


    {% url merchant_profile merchant.id %}