<!-- THIS IS THE HOME PAGE INDEX.HTML SAVED IN THE EXPERIENCES APP -->
{% extends "base.html" %}

{% load x_tags %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/front-page.css" />
{% endblock %}

{% block content %}
	<div class="space60"></div>
	<div class="span3 column left">
		<div id="search-left-bar" class="panel dark font12 row">
			<div class="pad15">
				<h3>Search results for</h3>
				<div class="row">
					<input type="text" class="span2" id='keywords_field' /> 
					<span class="item">near</span>
				</div>
				<div class="row">
					<input type="text" class="span2" id="address_field" />
				</div>
				<input type='hidden' id="lat_field" name='lat' />
				<input type='hidden' id="lng_field" name='lng' />

				<div class="widebutton">
					<button class="btn submit" onclick='search_again();' >search again</button>
				</div>
			</div>
		</div>
		<!-- <div id="map-bar" class="panel">
			This is where the map goes
		</div> -->
		<div id="filter-bar" class="panel">
			<div class="pad15">
			<h4>Filter by</h4>
			{% for category in categories %}
			<div><input type="checkbox" name="{{ category.id }}" checked='checked'>{{ category }}</div>
			{% endfor %}
			</div>
		</div>
		</div>
        <div id="search-results" class="span9 column">
        </div>
    </div>

<div style='display:none;'>
	<script type='text/x_jquery_templates' id='test-template'>
		<div class="search-result span3 panel">
			<div class="pad8">
				<div class="image-wrapper">
					<img alt=" {% t_var title %} "{% t_if photo1 %}src="{% t_var photo1.url %}"{% t_endif %} />
				</div>
				<div class="name"><a title="{% t_var title %}" href="/experiences/{% t_var slug_id %}">{% t_var title %}</a></div>
			<div class="price">${% t_var price %}</div>
			<div class="merchant">
				<a title="{% t_var merchant.name %}" href="">{% t_var merchant.name %}{% t_if merchant.city %}, {% t_var merchant.city %} {% t_var merchant.state %} {% t_endif %}</a></div>
		</div>
		</div>
	 </script>
</div>
{% endblock %}

{% block extra_scripts %}
    <script type='text/javascript' src='{{ MEDIA_URL }}js/front_page.js'></script>
    <script>
function render(data) {
	var tcrw = $("#search-results").empty();
	for (var i = 0; i < data.length; i++) {
		$("#test-template").tmpl(data[i]).appendTo(tcrw);
	}
}
    function search_again()
    {
        var lat = $('#lat_field').val();
        var lng = $('#lng_field').val();
        var keywords = $('#keywords_field').val();
        var categories = '';
        $('#filter-bar input[type=checkbox]').each(function()
        {
           var cb = $(this);
            if(cb.is(':checked'))
            {
                if( categories != '')
                    categories += ',';
                categories += cb.attr('name');
            }
        });
        if(categories == '')
            return;
        var params = {
          lat:lat,lng:lng,keywords:keywords,category:categories
        };
        get_experiences(params);
    }

</script>
{% endblock %}
