{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="two-col-left">
            <div class="command-bar-container">
			<!--<div class="command-bar">
				This can be hidden if not in use
			</div>-->
		</div>
A shared meal is one of those experiences that defines what it means to be human. <br />
Eating together with family, friends and neighbors strengthens community, bridges cultures, and builds a robust local economy. <br />

We know that there are culinary wonders going on behind countless closed doors.
Pies cooling on the windowsills, fresh cooking smells wafting by the noses of
wistful passerbys. We unite them on the web for the first time.

We want to encourage more people to sit down to the table with strangers and get
up as friends. We want to encourage [amateur and aspiring] gourmands to share
their favorite dish with travelers and teach their neighbors the secret recipe
for the perfect loaf of bread.

If you have friends, an appetite and a desire to make your world a richer place,
join us. Start by offering your own special treat (link to merchant teaser page)
        </div>
        
        <div class="two-col-right">
            <p>Partake in a Food experience {all the below should link to a relevant Experience Page}</p>
            <ul>
                <li>- Grab a homemade bite or meal</li>
                <li>- Meet a local when you travel</li>
                <li>- Connect with your neighbors</li>
                <li>- Learn a new a culinary skill</li>
                <li>- Support a local foodtrepreneur!</li>
            </ul>
            <br /><br />
            <p>Share a Food Experience  {this should link to Merchant Teaser}</p>
            <ul>
                <li>- Host a community building dining experience around a particular theme!</li>
                <li>- Show off your culinary prowess by offering a DIY class</li>
                <li>- Spread the world about your soon-to-be world famous...</li>
                <li>- Make new friends from the comfort of your own home</li>
                <li>- Test your restaurant idea with someone other than your mother</li>
                <li>- We can only imagine the delights you can bring to the table.  Surprise us!</li>
            </ul>
        </div>
    </div>
{% endblock %}