{% extends "base.html" %}

{% block title %}{{ experience.title }}{% endblock %}

{% block content %}

<article id="about-content">
    <div id="about"><p>A shared meal is one of those experiences that defines
    what it means to be human.<br /> Eating together with family, friends and
    neighbors strengthens community, bridges cultures, and builds a robust local
    economy.<br />The promise of industrialization was to improve access to
    food. But this comes at a price: industry makes packaged food, whereas
    people make real food. Sharing makes us more efficient. By following
    the trail of food, from farm to table, across time and across cultures, we
    hope to demistify the process of good food and make it more widely
    available.</p></div>
    <div id="t-shirt-blurb"><p>We saw a t-shirt for sale.
    It read: "home cooking is hurting the restaurant industry". We figured,
    heck, let's give them a run for it!<br />
    <img width="330" height="226" alt="home cooking is hurting the restaurant
    industry" src="{{ MEDIA_URL }}images/about.png"><br /> Of course, we love
    restaurants. But there is so much more happening the in the peoples'
    kitchen, as the listings on this site already attest.</p></div> <div
    id="feed-the-movement-blurb"><p>We've also been blown away by this project:
    Feed the Movement is a grassroots effort to organize a food supply chain
    from our region's small farms to the kitchens for the ongoing Occupy
    movements.</p><br /> <iframe width="420" height="315"
    src="http://www.youtube.com/embed/fA7IaROkcU4" frameborder="0"
    allowfullscreen></iframe> </div> <p> Let us stretch out our hands and
    identify like minded peers. Let's support the famermers and the cooks.<br
    /><br /> Please let us know if you know someone that would be perfect for
    this site. Hope you enjoy it!</p>
    
 
</article>

{% endblock %}

 

 

