{% extends "admin/base_site.html" %}
{% block extrahead %}
{{ block.super }}
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
<!--script type="text/javascript" src="{{ MEDIA_URL }}js/admin.js" ></script-->

<!--link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/admin.css" /-->
{% endblock %}

{% block content %}
   {{ message|safe }}
    <br />
    <br />
    <a href="{{ return_url }}" >
    <input type="button" value="{{ return_title }}" />
    </a>
{% endblock %}