<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="{{ MEDIA_URL }}js/textwrap.plugin.js"></script>
	<script src="{{ MEDIA_URL }}js/main.js"></script>
	<script type="text/javascript" src="http://use.typekit.com/qzv2oav.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css">
	<title>{% block title %}{% endblock %}</title>    
</head>
<body>
	{% block header %}
	<header>
	<div class="constrain-width">
		<div id="logo">Come Play Learn</div>
		<div id="facebook-connect"></div>
		<div id="service-list">List your activity</div>
		<div class="clear"></div>
	</div>
	</header>
	{% endblock %}
	<div id="wrapper">
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</div>
	{% block footer %}
	<footer>
		<div class="constrain-width">
			<ul class="footer-nav">
				<li>About</li>
				<li>Contact</li>
			</ul>
			<div class="copyright">© 2011 Come Play Learn</div>
		</div>
	</footer>
	{% endblock %}
</body>
</html>
