<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css" media="screen, print" /> 
<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen, print" /> 
<title>{% block title %}Book meals with people from around your city. Learn new dishes and share with your friends. Order homemade takeout.!{% endblock %}</title>
<script src="js/lib/jquery-1.7.min.js"></script>
<script src="js/lib/main.js"></script>
<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->
{% block extra_head %} <!-- where is this extra_head coming from??-->
{% endblock %}
</head>

<body>
    {% block header %}
    <header id="header">
        <div id="top-banner-bg">
            <div id="top-banner">
                <ul>
                    <li>
                        <!--https://my_dev_xpr_uploads.s3.amazonaws.com/photos/logo.png-->
                        <a href="index.html" id="logo">
                            <img width="312" height="59" alt="neighborly-meals" src="{{ MEDIA_URL }}images/logo.png">
                        </a>
                    </li>
                    <li><h1>Experience Different Cultures through Food and Family</h1>
                    <h3>Book meals with people from around the world. Get home cooked food delivered to your door</h3></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div id="main-nav-bg">
            <div id="main-nav">
                <ul>
                    <li id="selected">        
                        <a href="index.html">Hosted Meals</a>
                    </li>
                    <li id="#">        
                        <a href="homemade_takeout.html">Homemade Takeout</a>
                    </li>
                </ul>
            </div><!-- close main-nav -->
        </div>
    </header>
    {% endblock %}<!-- close header -->
    
    <div id="wrapper">
        <div id="content">{% block content %}This is the body for now{% endblock %}</div>   
    </div>

    <!-- footer -->
    {% block footer %}
    <footer>
        <div>
            <p id="copy">&copy; 2011 Neighborly Meals</p>
            <ul class="footer-nav">
                <li>
                    <a title="About" href="#">About</a>
                </li>
                <!--<li>
                    <a title="Careers" href="#">Careers</a>
                </li>
                <li>
                    <a title="Press" href="#">Press</a>
                </li>
                <li>
                    <a title="Terms" href="#">Terms</a>
                </li>-->
                <li>
                    <a title="Contact" href="#">Contact</a>
                </li>                      
            </ul>
        </div>
    </footer>{% endblock %}
</body>    
</html>

 
        
        