{% extends "base.html" %}

{% block title %}Spread the love{% endblock %}

{% block content %}
<div class="space30"></div>
<div class="font12 center span11">
	<div id="share" class="panel row">
		<div class="pad25">
			<h1>Sharing is Caring</h1>
            {% if not sent %}
                <form method='POST'>
			<p>Input names, separated by commas</p>
			<div class="row">
				<input type="text" class="span8" name='to' />
			</div>
			<div class="row">
				<textarea id="" name="message" rows="5" class="span8" cols="30">Check out this cool website!</textarea>
			</div>
			<div class="row">
				<input type="submit" class="btn" value="send" />
			</div>
                </form>
            {% else %}
                Your message was sent
            {% endif %}
		</div>
	</div>
</div>
{% endblock %}

<!--Tell us about the person you've got in mind and why they are perfect for the
site. *Give us enough information to contact them and also a sense for the kind
of experience they might offer.-->
