{% block header %}
<header>
<div id="header-notice-bar">
	<a href="/share">
		The more the merrier. Share this with your friends and eat to your heart's content!
	</a>
	<img id="header-notice-close" src="{{ MEDIA_URL }}/images/close.png">
</div>
	<div class="header-wrap span12">
		<a id="logo" href="/"><span>naanprofit</span></a>
		<a id="service-list" href="/experiences/add_experience/">Start Selling!</a>
        {% if not user.is_authenticated %}
		<a id="login-btn" href="/accounts/login/">Login</a>
        {% else %}
		<div id="login-btn">
			Welcome, <a href="/user">{{ request.user_extension.name }}</a>!
			<a href="/accounts/logout">Sign Out</a>
		</div>
        {% endif %}
	</div>
	<div class="bottom-border"></div>
</header>
{% endblock %}
