{% load x_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css">
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css">
	<script src="{{ MEDIA_URL }}js/modernizr.custom.78131.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	{% block extra_head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
	{% block body %}{% endblock %}

    <script src='https://maps-api-ssl.google.com/maps/api/js?v=3&sensor=false&libraries=places' ></script>
   	<script src="{{ MEDIA_URL }}js/textwrap.plugin.js"></script>
   	<script src="{{ MEDIA_URL }}js/main.js"></script>
    <script src='http://www.iplocationtools.com/iplocationtools.js?key={{ IP_GEOLOCATOR_API_KEY }}' ></script>
    <script src='/static/jq.templates.js' ></script>
	<!--    <script src='/static/js/jquery-ui-timepicker-addon.js' ></script> -->
    <script src='/static/maps.js'></script>
	<script type="text/javascript" src="http://use.typekit.com/qvy1ycb.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script>$(document).ready(function() { $('.auto_scale_photo').each(function() { image_autoscale($(this)); })});</script>
	<!-- Google analytics -->
	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-27207596-2']);
	_gaq.push(['_trackPageview']);
   	(function() {
	  var ga = document.createElement('script'); ga.type =
   'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
   'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0];
   s.parentNode.insertBefore(ga, s);
	})();
   </script>
	<!-- FB JavaScript SDK Like button-->
    <!-- FB JS SDK Comments -->
	<div id="fb-root"></div>
	<script>
        var _FB_SCOPE = '{{ settings.FACEBOOK_PERMISSIONS }}';
        $(document).ready(function() {
            $.getScript("//connect.facebook.net/en_US/all.js", function() {FB.init({ 'apiKey' : '{{ settings.FACEBOOK_APP_ID }}', status: true, cookie: true, xfbml: true });});
        });
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
	<script type='text/x-jquery-tmpl' id="send_message_template">
		<div>
		<div class='span6 pad15 panel'>
			<div class="row">
						<div>
							<label>Title</label>
							<input class="span5" type='text' name='title' alt='Title' />
						</div>
			</div>
			<div class="row">
						<div>
						<label>Message</label>
						<textarea class="span5" name='message' alt='Message'></textarea>
						</div>
			</div>
			<div class="space30"></div>
            <button class='dialog_submit btn submit'>Send</button>
            <button class='dialog_cancel btn'>Cancel</button>
		</div>
		</div>
    </script>
    <script type='text/x-jquery-tmpl' id="message_box">
        <div style='background-color:white; padding:10px;'>
            {% t_var message %}
        </div>
    </script>
    <script type='text/x-jquery-tmpl' id="loading_dialog">
        <div  style='background-color:white; padding:10px;'>
            Loading... <br/>
            <img src='{{ MEDIA_URL }}images/loading.gif' />
        </div>
    </script>
    {% block hidden_templates %}{% endblock %}

    {% block extra_scripts %}{% endblock %}
</body>
</html>
