<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css" media="screen, print" /> 
<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen, print" /> 
<title>{% block title %}Book meals with people from around your city. Learn new dishes and share with your friends. Order homemade takeout.!{% endblock %}</title>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
{% block extra_head %} <!-- where is this extra_head coming from??-->
{% endblock %}
</head>

<body>
    {% block header %}
    <header id="header">
        <div id="top-banner-bg">
            <div id="top-banner">
                <ul>
                    <li>
                        <a href="index.html" id="logo">
                            <img width="312" height="59" alt="neighborly-meals" src="images/logo.png">
                        </a>
                    </li>
                    <li><h1>Experience Different Cultures through Food and Family</h1>
                    <h3>Book meals with people from around the world. Get home cooked food delivered to your door</h3></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div id="main-nav-bg">
            <div id="main-nav">
                <ul>
                    <li id="selected">        
                        <a href="index.html">Hosted Meals</a>
                    </li>
                    <li id="#">        
                        <a href="homemade_takeout.html">Homemade Takeout</a>
                    </li>
                </ul>
            </div><!-- close main-nav -->
        </div>
    </header>{% endblock %}<!-- close header -->
    
<!-- wrap all -->    
<div id="wrapper">
    
        

    
    <!-- ASK JOSEPH IF I SHOULD PUT THE TWO COLUMN DIV IN BASE?? -->
    <div id="content" class="clear">{% block content %}This is the body for now{% endblock %}</div><!-- end content div-->
    
    
    <!-- footer -->
    <footer>
        <p id="copy">&copy; 2011 Na'ama Moran</p>
        <ul class="footer-nav">
            <li>
                <a title="About" href="#">About</a>
            </li>
            <li>
                <a title="Careers" href="#">Careers</a>
            </li>
            <li>
                <a title="Press" href="#">Press</a>
            </li>
            <li>
                <a title="Terms" href="#">Terms</a>
            </li>
            <li>
                <a title="Contact" href="#">Contact</a>
            </li>                      
        </ul>
    </footer>

</div><!-- close wrapper -->

</body>
    
</html>

 
        
        