{% extends "base.html" %}

{% block title %}About Neighborly Meals{% endblock %}

{% block content %}

<article id="about-content">
    <div id="about"><p>A shared meal is one of those experiences that defines
    what it means to be human.<br /> Eating together with family, friends and
    neighbors strengthens community, bridges cultures, and builds a robust local
    economy.<br />We want to encourage more people to sit down to the table with
    strangers and get up with friends.<br/>If you have friends, an appetite and
    a desire to make your world a richer place, <a
    href="https://docs.google.com/spreadsheet/viewform?formkey=dGFQMUdZN21WRXBIT3ZGWXFrQXRGclE6MQ">join
    us.</a></p></div>
    <!--<div
    id="feed-the-movement-blurb"><p>We've also been blown away by this project:
    Feed the Movement is a grassroots effort to organize a food supply chain
    from our region's small farms to the kitchens for the ongoing Occupy
    movements.</p><br /> <iframe width="420" height="315"
    src="http://www.youtube.com/embed/fA7IaROkcU4" frameborder="0"
    allowfullscreen></iframe> </div> <p> Let us stretch out our hands and
    identify like minded peers. Let's support the famermers and the cooks.<br
    /><br /> Please <a href="https://docs.google.com/spreadsheet/viewform?formkey=dGFQMUdZN21WRXBIT3ZGWXFrQXRGclE6MQ">
    let us know</a> if you know someone that would be perfect for this site.
    Hope you enjoy it!</p>-->
    
 
</article>

{% endblock %}

 

 
