{% extends 'base.html' %}
{% block content %}
    <form method='post' >
    <div id="content" class="clearfix signup">

        <div class="verify-logout floatLeft">
            <h3 class="form-title">Verify</h3>
                <div class="line clearfix">
                    <label>Thank you for registering. You will receive an email to verify your account. </label>
                </div>
            <div class="line clearfix">
                <label>
                    If you have not received the email, <a onclick="$('form').submit();" href="#">click here</a> to have us send it again</label>
                </label>
            </div>
        </div>
    </div>
    </form>
{% endblock %}