/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * Document CSS
 *
 * COLOR CODES
 * PURPLE: #a58ab3
 * TEAL: #0a9aaf
 */

html {
}

body {
	font-family: calluna-sans, "helvetica", "ariel", sans-serif;
	font-size: 11pt;
	background: #6c7585;
	color: #7a7a7a;
	line-height: 1.3;
	text-shadow: 1px 1px 1px #ccc;
}

.secondary {
	color: #999999;
	font-size: 10pt;
}

#wrapper {
	min-height: 600px;
	background: url(../images/background.jpg);
	padding: 40px 0 50px;
	box-shadow: 0px 5px 3px #5d667c;
}

.wrapper-constrain {
	width: 1000px;
	padding: 0 0 0 20px;
}

/*
 * Standard stuff
 */

h1, h2, h3, h4, h5, h6 {
	font-family: museo-sans-rounded;
	color: #a58ab3;
	text-shadow: 0.5px 0.5px 0.5px #CCC;
	margin: 0 0 1em;
}

h1, h2 {
	font-size: 180%;
}

h3 {
	font-size: 130%;
}

p {
	margin: 0.5em 0 1em;
}


/*
 * Layout Constrains
 */

.constrain-width {
	max-width: 1000px;
}

/*
 * Instructions
 */
#form-instructions {
	width: 300px;
	float: right;
}

/*
 * Header
 */

header {
	background: #343d50;
	border-bottom: 3px solid #a58ab3;
}

header .header-wrap {
	background: #030f26;
	width: 1000px;
	padding: 20px 20px 8px;
}

#logo {
	float: left;
	color: white;
	font-family: museo-sans-rounded;
}

#service-list {
	color: white;
	text-shadow: 1px 1px #666666;
	font-family: museo-sans-rounded;
	float: right;
	position: relative;
	background: #fe9e21;
	margin-right: 20px;
	font-size: 90%;
	padding: 2px 4px;
}

#service-list:hover {
}

#facebook-connect {
	width: 154px;
	height: 22px;
	background: url(../images/fb-login.png) no-repeat;
	float: right;
	position: relative;
	margin-right: 20px;
}

/**
 * forms and Inputs
 */

fieldset {
	border: 1px solid #cccccc;
	box-shadow: 1px 1px #bbbbbb;
	background: white;
	width: 60%;
	padding: 30px 20px;
	margin: 0 0 10px;
	text-shadow: none;
}

fieldset h3 {
	font-size: 120%;
	color: #666;
	font-family: museo-sans-rounded;
	margin: 2px 0 10px;
}

fieldset label {
	display: block;
	margin: 20px 0 5px;
	font-weight: bold;
}

.description {
	font-size: 90%;
	color: #999;
}

.row {

}

.column {
	display: inline-block;
	margin: 0 30px 0 0;
	vertical-align: top;
}

.half {
	width: 40%;
}

input, textarea {
	padding: 4px;
	margin: 1px 1px 6px;
	border-radius: 3px;
	border: 1px solid #999999;
	box-shadow: 1px 1px #888888;
	font: museo-sans-rounded; 
	font-size: 13pt;
}

input[type="text"], textarea {
	width: 500px;
}

input[type="file"] {
	border: none;
	box-shadow: none;
}

select {
	padding: 4px;
	margin: 2px 0 5px;
	border-radius: 3px;
	border: 1px solid #999999;
	box-shadow: 1px 1px #888888;
	font: museo-sans-rounded; 
	font-size: 110%;
}

input[type="radio"], input[type="checkbox"] {
	margin: 0 15px 0 0;
	width: 20px;
	height: 20px;
}

input[type="submit"] {
	background: #60a01f;
	font-size: 13pt;
	color: white;
	
	padding: 4px 20px 4px;
	box-shadow: 0px 0px 2px #7a7a7a;
	margin: 0px;
	border: white 1px solid;
	border-radius: 3px;
	font-family: museo-sans-rounded;
	cursor: pointer;
}

input[type="submit"]:hover {
	background: #50821d;
}

input:focus, textarea:focus {
	border: 2px solid #0a9aaf;
	margin: 1px 0px 4px;
	box-shadow: none;
}

.help-text {
	color: #999;
	margin: 2px 0 5px;
	font-size: 90%;
}

input.long {
	width: 500px;
}

input.medium {
	width: 300px;
}

input.short {
	width: 200px;
}

input.shorter {
	width: 120px;
}

.tall {
	height: 180px;
}

/**
 * Search-box
 */
#search-box {
	background: #0a9aaf;
	padding: 20px 20px 10px;
	border-radius: 5px;
	width: 650px;
	margin: 40px auto 50px;
	color: white;
	text-align: left;
	text-shadow: none;
	box-shadow: 0px 0px 10px #666666;
}

.search-box-tagline {
	font-size: 130%;
	border-bottom: 1px solid white;
	padding: 2px 0 13px;
}

.search-box-form {
	padding: 10px 0 0;
	font-size: 120%;
}

#search-box input[type="submit"] {
	float: right;
}

#search-box input[type="text"] {
	margin-left: 8px;
	margin-right: 8px;
	border: 1px solid white;
}

.search-result {
	background: white;
	border-radius: 5px;
	border: 1px #cccccc solid;
	height: 100px;
	width: 640px;
	margin: 10px 20px 10px 0;
	padding: 10px;
}

.map {
	background: white;
	border-radius: 5px;
	border: 1px #cccccc solid;
	height: 400px;
	width: 300px;
	margin: 0 0 0 20px;
	padding: 10px;
	float: right;
}

.eula {
	
}

/**
 * Footer
 */

footer {
	padding: 70px 0 40px 20px;
	color: #FFFFFF;
	text-shadow: none;
	font-size: 90%;
}

footer ul.footer-nav li {
	float: left;
	margin-right: 20px;
}

footer .copyright {
	float: right;
}

/*
 * Generics
 */
.clear {
	clear: both;
}

/**
 * Default Val CSs
 */

.default-val-parent {
	position: relative;
}

.default-val-text {
	position: absolute;
	left: 0;
	top: 0;
	color: #BBBBBB;
	padding: 15px 0 6px 10px;
	overflow: hidden;
	text-shadow: none;
}
