{% extends "base.html" %}

{% block header %}
{{ experience.title }}
{% endblock %}

{% block content %}
    
    
    <!--<img src="{{ experience.image.url }}" />--><!-- check documentation -->
    
    <p>{{ experience.description }}</p>
    
    {% if more_experiences %}
        <h2>more experiences from merchant</h2>
        <ul>
            {% for e in more_experiences %}
                <li><!--<img src="{{ e.image.url }}"--> title="{{ e.title }}" /></li>
            {% endfor %}
        </ul>
    {% endif %}


{% endblock %}