<!-- THIS IS THE HOME PAGE INDEX.HTML SAVED IN THE EXPERIENCES APP -->

{% extends "base.html" %}

{% block title %}
    Welcome to the Experience Project!
{% endblock %}


{% block content %}
    
    <!-- side-bar-->
        <div id="side-bar">
            <!-- category list section -->
            <div class="section">
                <!--{% if active_categories %}-->
                <h2>Categories</h2>                
                <ul id="category-list">
                    {% for category in active_categories %}  <!-- I THINK I MIGHT NEED TO CREATE A CATEGORY CLASS, then the active
                                                                categories list should have objects of that class only if they're active-->
                    <li>
                        <a title="{{ category }}" href="/category/{{ category }}">{{ category }}</a> <!-- this is how it should look if category were a class -->
                    </li>{% endfor %} 
                </ul>   
            </div><!--{% endif %}--><!-- end category list section -->
            <!-- ways to shop section -->
            <div class="section"><!-- this is pretty much static... do I need anything here? -->
                <h2>Discover</h2>
                <ul id="ways-to-shop">
                    <li>
                        <a title="curated list" href="#">Curated lists</a>
                    </li>
                    <li>
                        <a title="Shop nearby" href="#">Shop nearby</a>
                    </li>
                    <li>
                        <a title="Personalized offers" href="#">Personalized offers</a>
                    </li>
                    <li>
                        <a title="Recently posted" href="#">Fresh experiences</a>
                    </li>
                    <li>
                        <a title="Shop with friends" href="#">Shop with friends</a>
                    </li>
                </ul>
            </div>
            <!--subscribe to email list section -->
            <div class="section-email-list">
                <h2>The daily experience</h2>
                <p>Get our daily email of experiences and gift ideas.</p>
                <div id="input-group">
                    <form id="form" name="form" method="post" action="#">
                        <input class="text" type="text" onfocus="if(this.value=='Enter your email')this.value='';" value="Enter your email" name="email">
                        <span><input type="submit" value="Sign Up"></span>
                    </form>
                </div>
            </div>    
        </div><!-- end side bar -->
        
        <!-- primary content -->
        <div id="primary">
    
        {% for item in experiences %}
        <h2><a href="{% url experience_profile item.id %}">{{ item.title }} </a> by <a href="{% url merchant_profile item.merchant.slug %}">{{ item.merchant.name }}</a></h2>
        {% endfor %}

{% endblock %}   