{% extends 'base.html' %}
{% load thumbnail %}
{% load x_tags %}
{% block extra_head %}
	{% comment %}
	{{ form.media }}
	{% endcomment %}
{% endblock %}
{% block content %}
	<div class="space30"></div>
	<div class="column span9">
		<h2>Your public profile </h2>
		<fieldset class="panel row">
            <form method='POST' enctype="multipart/form-data">
			<div class="pad15">
				<div class="row">
								<div class="input-group">
									<label class="label" for="profile-image">Profile Picture</label>
									<div class="change-profile-image">
				                        <div class="image-wrapper">
                                            {% if merchant.photo %}
                                                {% thumbnail merchant.photo "450x300" crop="center" as im %}
                                                    <img class="auto_scale_photo" alt="{{ merchant.name }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                                {% endthumbnail %}
                                            {% else %}
                                                <img class='auto_scale_photo' alt="{{ merchant.name }}" src="http://graph.facebook.com/{{ merchant.FB_ID }}/picture/?type=large">
                                            {% endif %}
                                        </div>
                                        {{ form.photo }}
									</div>
								</div>
				</div>
				<div class="row">
								<div class="input-group">
									<label class="label" for="name">Your name</label>
									<input class="span6" type="text" name="{{ form.name.name }}" id="name" value="{{ form.name.value }}">
								</div>
				</div>
				<div class="row">
                                {{ form.xp_location }}
								<div class="input-group">
									<label class="label" for="id_address">Your address</label>
									<input class="span6" type="text" name="{{ form.address.name }}" id="id_address" value="{{ form.address.value }}">
                                    <div style='display:none;'><div id='hidden_map'></div></div>
								</div>
				</div>
				<div class="row">
								<div class="input-group">
									<label class="label" for="about">About you</label>
									<textarea class="span6" name="{{ form.description.name }}" id="about" value="{{ form.description.value }}" style="overflow-x: hidden; overflow-y: hidden; height: 75px;">{{ form.description.value }}</textarea>
								</div>
							</div>
							<div class="space30"></div>
							<button type='submit' class="btn">Save</button>
			</div>
        </form>
		</fieldset>
		<!--fieldset class="panel row">
			<div class="pad15">
				<h2>Completed earnings</h2>
			</div>
			<div class="listing-header">
				<div class="listing-value">Money earned</div>
				<div class="listing-date">Date</div>
			</div>
			<ul>
				<li class="listing row">
					<div class="listing-value">$100</div>
					<div class="listing-date">27/12/2012</div>
				</li>
				<li class="listing row">
					<div class="listing-value">$100</div>
					<div class="listing-date">27/12/2012</div>
				</li>
				<li class="listing row">
					<div class="listing-value">$100</div>
					<div class="listing-date">27/12/2012</div>
				</li>
			</ul>
		</fieldset-->
		<div class="clear"></div>
	</div>
	<div id="experiences"></div>
	{% include "merchants/command_bar.html" %}


{% endblock %}
