{% extends 'base.html' %}

{% load x_tags %}

{% block content %}
<div class="space30"></div>
<div class="column span9">
	<div class="listings-container">
		<h1 class="title">Your experiences</h1>
		<ul class="listings"></ul>
		<table id="listings" class="panel">
			<tr>
				<th width="45%">Title</th>
				<th>Revenue</th>
				<th>Requests</th>
				<th>Page views</th>
				<th>Actions</th>
				<th width="100px">List</th>
			</tr>
		</table>
	</div><!-- closing listings-container -->
</div>
{% include "merchants/command_bar.html" %}
{% endblock %}


{% block hidden_templates %}
<script type='text/x_jquery_templates' id="experience_item_tmpl">
	<tr>
		<td>
			<a title="{% t_var title %}" href="/merchants/edit_experience/{% t_var slug_id %}/">{% t_var title %} </a>
			<a class="listing-image" title=" {% t_var title %}" href="/merchants/edit_experience/{% t_var slug_id %}/">
				<img alt="{% t_var title %}" {% t_if photo1 %}src="{% t_var photo1.url %}"{% t_endif %}>
			</a>
		</td>
		<td>
			{% t_var price %} $
		</td>
		<td>
			{% t_var capacity %}
		</td>
		<td>
			{% t_var page_views %}
		</td>
		<td>
			<a href="/merchants/edit_experience/{% t_var slug_id %}/">edit</a>
			<a href="/experiences/{% t_var slug_id %}/">view</a>
		</td>
		<td>
			{% t_if is_active %}
			<button id="deactivate_{% t_var slug_id %}" class="activate btn" onclick='activate_experience(this,"{% t_var slug_id %}");'>deactivate</button>
			{% t_else %}
			<button id="activate_{% t_var slug_id %}" class="activate btn submit" onclick='activate_experience(this,"{% t_var slug_id %}");'>activate</button>
			{% t_endif %}
		</td>
	</tr>
</script>
{% endblock %}


{% block extra_scripts %}
<script type='text/javascript' >
var _merchant_id = '{{ merchant }}';
function get_experiences(params) {
    params = params || {};
    $.get('/api/experiences/json', params, render);
}


function render(data) {
    var items = $("#experience_item_tmpl").tmpl(data);
    items.appendTo("#listings");
}


$(document).ready(function(){
		get_experiences({"of_merchant": true });
});

function activate_experience(sender,slug_id)
{
    var $this = $(sender);
    var is_activated = $this.text() != "activate";
    update_state(slug_id,is_activated);
    $this.text(is_activated ? "activate" : "deactivate");
    $this.toggleClass("submit");
}

function update_state(slug_id,is_activated)
{
        var is_active = !is_activated;
        $.ajax( { url : '/api/experiences/json', data : { is_active : is_active, slug_id:slug_id } , type : 'PUT'});
}
</script>
{% endblock %}
