{% extends 'base.html' %}
{% block wrapper %}
    {% block content %}
        <ul >
        {% for message in comments %}
            <li id="#" class="listing-item">
                {% if message.sender %}
                {% include 'profile_image.html' with user_extension=message.sender %}
                {% endif %}
                <div id="thumb-details">
                    <a href="{% url view_message message.id %}">
                    <p class="listing-title">
                        {{ message.title }}
                    </p>
                    <p class="listing-merchant">
                        {{ message.message }}
                    </p>
                    <p>
                        {{ message.time }}
                    </p>
                    </a>
                </div>

            </li>
        {% endfor %}
        </ul>
    {% endblock %}
{% endblock %}


