<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
        
    <title>Apply to be listed</title>
    {{ form.media }}
</head>
<body>
    
    <h2>Apply to be listed on our site</h2><!-- we can change this title based on the niche-->
    {% if status == 'saved' %}
        Sent, application will be reviewed
    {% else %}
    {{ form.errors }}
    <form action="#" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend>Contact information</legend>
            <!-- the following fields: name, adress, email and phone number should be populated by facebook info if available-->
            <label>Name <input type="text" maxlength="32" name="name" value='{{ form.name.value }}'/></label><br /><br />
            <label>Email <input type="text" value='{{ user.email }}' maxlength="32" name="email"/></label><br /><br />
            <label>Phone number <input type="text" value='{{ form.phone_number.value }}' maxlength="32" name="phone_number"/></label><br /><br />
            <!--<address>--><!-- html 5 semantic markup -->
                <label>Address <input class="space_common" type="text" name="address" value='{{ form.address.value }}'></label><br />
                {{ form.xp_location }}
                <!--label>City  <input class="space_common" type="text" name="city"></label><br />
                <label>State  
                    <select name="state">
                        <option>AL</option>
                        <option>BM</option>
                        <option>CA</option>
                        <option>PA</option>
                        <option>NY</option>
                        <option>NH</option>
                        <option>MA</option>
                    </select>
                </label><br />
                <label>Zip-code<input class="space_common" type="text" name="zipcode"></label><br />
                <!--<label>Country-->  <!-- eveyrthing is going to be in the U.S. for now--> 
                    <!--<select name="country">
                       <option>United States</option>
                    </select>
                </label><br />-->
            <!--</address><br />-->
        </fieldset>
        
         <br /><br />
         
        <fieldset>
            <legend>Tell us about yourself</legend>
            <textarea rows="20" cols="100" class="ckeditor" id="vendor_description" name="description" value='{{ form.description.value }}'></textarea><br /><br />
        </fieldset>
        
        <br /><br />
        
        <fieldset>
            <legend>What are you offering?</legend>    
            <label>Tell us more about your service, product or skills<br />
            <textarea rows="20" cols="100" class="ckeditor" id="vendor_description" name="offering" value='{{ form.offering.value }}'></textarea><br /><br />
            </label><br /><br />
        </fieldset>
        
        <br /><br />
        
        <fieldset>
            <legend>Who are your customers?</legend>    
            <label>Describe your target customers<br />
            <textarea rows="20" cols="100" class="ckeditor" id="target_customers_description" name="target_customers" value='{{ form.target_customers.value }}'></textarea><br /><br />
            </label><br /><br />
        </fieldset>
        
        <br />
 
        <input type="submit" class="button" value="SUBMIT YOUR APPLICATION">

    </form>
    {% endif %}
</body>
</html>




