{% extends 'base.html' %}
{% block extra_head %}
    {% include 'ckeditor_head.html' %}
{% endblock %}
{% block content %}
<h2>{{ status }}</h2>    
<form id="form" name="form" method="post" action="#">
    <p>Name  <input class="space_common" type="text" onfocus="if(this.value=='Name')this.value='';" value="{{ merchant.name }}" name="name"></p>
    <p>Email {{ user.email }} <!--input class="space_common" type="text" onfocus="if(this.value=='Email')this.value='';" value="Email" name="email"--></p>
    <!--p>username  <input class="space_common" type="text" onfocus="if(this.value=='username')this.value='';" value="username" name="username"></p-->
    <address><p>Address  <input class="space_common" type="text" onfocus="if(this.value=='Address')this.value='';" value="{{ merchant.address }}" name="address"></p>
        <p>City  <input class="space_common" type="text" name="city" ></p>
        <p>State  
            <select name="state">
                <option>AL</option>
                <option>BM</option>
                <option>CA</option>
                <option>PA</option>
                <option>NY</option>
                <option>NH</option>
                <option>MA</option>
            </select>
        </p>
        <p>Zip-code  <input class="space_common" type="text" name="zipcode"></p>
        <p>Country  
            <select name="country">
                <option>United States</option>
                <!--<option>BM</option>
                <option>CA</option>
                <option>PA</option>
                <option>NY</option>
                <option>NH</option>
                <option>MA</option>-->
            </select>
        </p>
    </address>
    <p>Phone number  <input class="space_common" type="text" onfocus="if(this.value=='Phone number')this.value='';" value="{{ merchant.phone }}" name="phone"></p>
    <textarea name="description" value='{{ merchant.description }}' class='ckeditor'></textarea>
    <input class="button" type="submit" value="Save">
</form>

{% endblock %}
