{% extends 'base.html' %}
{% block extra_head %}
{{ form.media }}
{% endblock %}
{% block content %}
<div class="command-bar-container">
	<!--<div class="command-bar">
		This can be hidden if not in use
	</div>-->
</div>
<div class="span9">
	<h1>{{ status }}</h1>
	<form id="form" name="form" method="post" action="#">
		<fieldset class="panel"><!-- most of the information below should be pre-filled from Facebook Connect -->
			<h3>Contact information</h3>
			<label>Name</label>
			<div class="span6">
				{{ form.name }}
			</div>
			<label>Email</label>
			<div class="input-medium">
				{{ user.email }}
			</div>
			<label>Phone number</label>
			<div class="input-medium">
				{{ form.phone_number}}
			</div>
			{{ form.xp_location }}
			<address><!-- html 5 semantic markup -->
                {{ form.xp_location }}
                <div style='display:none;'><div id='hidden_map'></div></div>

				<label>Address</label>
				{{ form.address }}
				<!--               <label>Address</label>
				<input type="text" name="address" />
				<div class="row">
					<div class="column">
						<label>City</label>
						<input class="medium" type="text" name="city">
					</div>
					<div class="column">
						<label>State</label>
						<select name="state">
							<option>AL</option>
							<option>BM</option>
							<option>CA</option>
							<option>PA</option>
							<option>NY</option>
							<option>NH</option>
							<option>MA</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="column">
						<label>Zipcode</label>
						<input class="short" type="text" name="zipcode">
					</div>
					}}     <div class="column">
						<label>Country  <!-- eveyrthing is going to be in the U.S. for now--> </label>
						<select class="short" name="country">
							<option>United States</option>
						</select>
			</address><!-- Not sure how the address field looks-->
		</fieldset>

		<fieldset>
			<h3>Tell us about yourself</h3>
			<p class="help-text">Tell us about yourself, how long have you been doing this, what sets you apart... anything that helps tell your story</p>
			<!--                             <textarea class="tall" class="description" required="required" name="merchant_app_description"></textarea> -->
			<div class="input-tall description">
				{{ form.description }}
			</div>
		</fieldset>

		<fieldset>
			<h3>What are you offering?</h3>
			<p class="help-text">Tell us about your services, what makes your work appealing and unique to your customers</p>
			<textarea class="tall description" required="required" name="offering">{{ form.offering.value }}</textarea>
		</fieldset>

		<fieldset>
			<h3>Who are your customers?</h3>
			<p class="help-text">Describe your target customers (age, charateristics, lifestyle, etc.)</p>
			<textarea class="tall description" required="required" name="target_customers">{{ form.target_customers.value }}</textarea>
		</fieldset>
		<input type="submit" class="margin-top-30" value="View listing">
	</form>
</div>
{% endblock %}
