/*
 * Document CSS
 *
 * COLOR CODES
 * PURPLE: #a58ab3
 * TEAL: #0a9aaf
 */

body {
	font-family: "helvetica", "arial", sans-serif;
	background: url(../images/background.jpg);
}

a {
	color: #ffaa00;
}

h1, h2, h3, h4, h5, h6 {
	font-family: cronos-pro;
}

.content-body {
	width: 1000px;
	min-height: 600px;
	margin: 0 auto;
}

.main-content {
	width: 1000px;
	margin: 0 auto;
	padding: 10px 0 50px 0;
}

#command-bar {
}

#command-bar ul {
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #efefef;
}

#command-bar ul li a {
	display: block;
	padding: 8px 15px;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #dfdfdf;
	color :#7a7a7a;
}

#command-bar ul li:hover {
}

#command-bar ul li a:hover {
	background: #FFAA00;
	color: white;
	text-decoration: none;
}

/*------------------------------------------------------------------------------*/
/*	HEADER
/*------------------------------------------------------------------------------*/


header {
	width: 100%;
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
	background: #2D2218 url(../images/header_background.png);
}

header .header-wrap {
	width: 960px;
	margin: 0 auto;
	padding: 8px 0;
}

header .header-wrap::after {
	content: "";
	display: table;
	clear:both;
}

header .bottom-border {
	height: 3px;
	background: url(../images/header_border.png);
}

#logo {
	float: left;
	color: white;
	display: inline-block;
	background: url(../images/logo.png);
	width: 118px;
	height: 33px;
}

#logo span {
	display: none;
}

#service-list {
	background: linear-gradient(top, #FFAA00, #ea9500);
	background: -moz-linear-gradient(top, #FFAA00, #ea9500);
	background: -ms-linear-gradient(top, #FFAA00, #ea9500);
	background: -o-linear-gradient(top, #FFAA00, #ea9500);
	background: -webkit-linear-gradient(top, #FFAA00, #ea9500);
	float: right;
	color: #2D2218;
	border: 1px solid #ea9500;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(255, 255, 255, 0.2);
}

/*------------------------------------------------------------------------------*/
/*	FOOTER
/*------------------------------------------------------------------------------*/


footer {
	padding: 0px 0 30px 0px;
	color: #ACACAC;
	text-shadow: none;
	margin-top: 80px;
}

.footer-constrain {
	width: 1000px;
	margin: 0 auto;
	border-top: 1px solid #DEDEDE;
	padding: 10px 7px 0;
}

footer ul.footer-nav li {
	float: left;
	margin-right: 20px;
}

footer .copyright {
	float: right;
}

footer a {
	color: #b9b9b9;
}

footer a:hover {
	color: #7a7a7a;
}

/*------------------------------------------------------------------------------*/
/*	FORMS AND INPUTS
/*------------------------------------------------------------------------------*/


.search-result {
	width: 320px;
	display: inline-block;
	margin-right: 5px;
}

.search-result img {
	width: 320px;
	border: #E0E0E0;
	margin: 0 auto;
}

.search-result h4 {
	font-size: 14pt;
	margin-bottom: 2px;
}

.search-result .price {
	width: 34px;  /*This is not enough width to 3 digit numbers*/
	height: 32px;
	padding-top: 2px;
	border-radius: 17px;
	font-size: 14pt;
	color: white;
	text-align: center;
	background: #0a9aaf;
	float: right;
	margin-top: 10px;
}

.page-nav ul {
	float: right;
}

.page-nav ul li{
	display: inline;
	float: left;
	margin-right: 10px;
}

.page-nav .active {
	color: #0a9aaf;
	font-weight: bold;
}

.search-result:hover {
	border: 1px solid #cccccc;
	box-shadow: 0px 0px 3px #999;
	-moz-transition: box-shadow 0.5s;
}

.help-text {
	color: #999;
	margin: 2px 0 5px;
	font-size: 90%;
}

.has-shadow {
	-moz-transition: 0.5s;
	box-shadow: 0px 0px 5px #666666;
}

#map {
	background: white;
	border: 1px #cccccc solid;
	width: 280px;
	height: 200px;
}

/*------------------------------------------------------------------------------*/
/*	EXPERIENCE PROFILE
/*------------------------------------------------------------------------------*/


#action-bar {
}

#action-bar .price {
	font-size: 18pt;
	font-weight: bold;
	color: white;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: 7px;
	background: #DF595F;
	padding: 4px 8px;
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.4);
	position: relative;
	border-top: 1px solid #b2474c;
	border-bottom: 1px solid #b2474c;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(255, 255, 255, 0.2);
}

#action-bar .price span {
	float: none;
	top: 0;
}

#action-bar .price::before, #action-bar .price::after {
	content: '';
	position: absolute;
	border-style: solid;
	border-color: transparent;
	bottom: -5px;
}

#action-bar .price::before {
	border-width: 0 10px 5px 0;
	border-right-color: #863539;
	left: 0;
}

#action-bar .price::after {
	border-width: 0px 0px 5px 10px;
	border-left-color: #863539;
	right: 0;
}

#action-bar .price .unit {
	font-size: 14pt;
}

#action-bar .row {
	border-top: #d6d6d6 1px solid;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 0;
	margin-bottom: 0;
}

#action-bar .row:hover {
	background: #FFAA00;
	color: white;
}

#action-bar .row .date {
	margin-right: 10px;
}

#action-bar .row input[type="submit"] {
	float: right;
}

#seller-info {
	/*text-align: center;*/
}

#merchant-image {
	float: left;
	width: 100px;
}

#merchant-address{
	float: left;
	width: 120px;
	margin-left: 40px;
}


.share-buttons {
	margin: 0 0 10px 0;
	display: inline-block;
	float: right;
}

.share-buttons ul li {
	float: left;
	
}

.description {
	display: inline-block;
	padding: 15px 0px; 
	border-top: 1px solid #D9D9D9;
}

#merchant-image .image-wrapper {
	width:100px;
	height:100px;
	position:relative;
}

#seller-info .btn btn-blue font14 {
	float: left;
	margin-bottom: 10px;
}






/*------------------------------------------------------------------------------*/
/*	IMAGE CAROUSEL
/*------------------------------------------------------------------------------*/


#exp-main-image-outer {
	border-left: 1px solid #DFDFDF;
	border-right: 1px solid #DFDFDF;
	border-top: 1px solid #DFDFDF;
	background: white;
	position: relative;
	width: 620px;
	height: 400px;
	overflow: hidden;
}

#exp-main-image-frame {
	border: 5px solid white;
	position: absolute;
	left: 0;
	top: 0;
	height: 480px; /*440*/
	width: 480px; /*638*/
}

#exp-img-thumbs {
	border-left: 1px solid #DFDFDF;
	border-right: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
	width: 620px;
	background: white;
	margin-bottom: 30px;
}

.bottom-pad {
	height: 5px;
	position: absolute;
	top: 600px;
	width: 100%;
	background: red;
}

#exp-main-image {
	position: relative;
}

#exp-main-image img {
	border: 5px solid white;
	position: absolute;
}

#exp-thumbs {
	overflow: hidden;
	position: relative;
	margin-top: 4px;
}

.exp-thumbs-img {
	width: 70px;
	height: 70px;
	cursor: pointer;
	border: 5px solid white;
}

.primary #exp-thumbs ul {
	list-style: none;
	margin-top: 10px;
	
}

.primary #exp-thumbs li {
	float: left;
}

/* dashboard / all listings page */

div.activate {
	float: right;
}


ul.listings li.listing-item {
}

.listing {
	display: block;
	padding: 5px;
	border-top: 1px solid #dfdfdf;
}

.listing-header .listing-value, .listing-header .listing-date {
	font-weight: bold;
}

.listing-date {
	margin-left: 10px;
	font-size: 12pt;
}

.listing-value {
	width: 150px;
	float: right;
	font-size: 11pt;
}

.listing-actions button {
	margin-left: 10px;
}

/*------------------------------------------------------------------------------*/
/*	INBOX
/*------------------------------------------------------------------------------*/



.message {
	padding: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #E0E0E0;
}

.message:first-child {
	border-top: hidden;
}

.message * {
	vertical-align: top;
}

.user {
	display: inline-block;
	text-align: left;
	margin-right: 10px;
	vertical-align: middle;
	overflow: hidden;
}

.user-name {
	font-size: 90%;
	float: right;
	width: 80px;
	vertical-align: bottom;
}

.user-location {
	font-size: 80%;
}

.user-image  {
	/*width: 100px;*/
	display: inline-block;
	text-align: center;
	/*margin-right: 30px;*/
	vertical-align: middle;
}

a.message-link {
	text-decoration: none;
}

.message-link .message-title {
	font-size: 120%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #222;
}

.message-link .message-body {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #7a7a7a;
}

.message-action {
	vertical-align: middle;
	margin-top: 5px;
	float: right;
}

.message-timestamp {
	margin-top: 3px;
}

.empty-inbox {
	display:block;
	padding: 15px;
	text-align: center;
}

#message-read .image-wrapper {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.user-data {
	vertical-align: bottom;
	display: inline-block;
}

#message-read .user-name {
	width: 400px;
	float: none;
	font-size: 120%;
}

#message-read .message-title {
	font-size: 150%;
}

/* Login */
#login {
	width: 400px;
	height: 300px;
	font-size: 20pt;
	text-align: center;
	margin: 0 auto;
}

.fb-connect {
	display: inline-block;
	border: 1px solid #355891;
	font-size: 17pt;
	border-radius: 3px;
	padding: 5px 10px 5px 50px;
	color: white;
	text-decoration: none;
	background: #617fb3 url(../images/fb-logo.png) no-repeat left;
	text-shadow: 1px 1px #666;
}

.fb-connect:hover {
	box-shadow: 0px 0px 3px #666;
	text-decoration: none;
}


/*------------------------------------------------------------------------------*/
/*	SHARE
/*------------------------------------------------------------------------------*/

#share {
	background: white url(../images/bg_share.jpg) no-repeat center bottom;
	height: 512px;
}

#share-controls {
	margin-top: 30px;
	text-align: center;
}

/**
 * Start
 */

#start {
	background: white url(../images/bg_start.jpg) no-repeat center bottom;
	height: 516px;
}

#start h1 {
	font-size: 200%;
}

#start ul li {
	list-style: disc;
	margin-left: 20px;
}

/**
 * Error
 **/

#error {
	background: white url(../images/error.jpg) no-repeat center top;
	height: 500px;
}

#error h1 {
	text-align: center;
	position: relative;
	top: 100px;
	font-size: 300%;
}

/*------------------------------------------------------------------------------*/
/*	ABOUT
/*------------------------------------------------------------------------------*/

#about p {
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
    padding-right: 50px;
    padding-bottom: 20px;
	color: #545550;
	/*font-family: georgia;*/
	margin-top: 30px;
	width: 750px;
	display: inline-block;
	
}


button.hidden {
    visibility: hidden;
}

#collage {
	padding: 10px;
	margin-top: 10px;
}

#collage ul {
	list-style: none;
}

#collage li {
	float: left;
	padding: 7px;
	margin: 0px;
	width: 220px;
	border: solid 2px #D9D9D9;
	background: #fefefe 
}


#collage #img-1 {
-webkit-transform: rotate(-5deg);
-moz-transform: rotate(-5deg);
}

#collage #img-2 {
-webkit-transform: rotate(3deg);
-moz-transform: rotate(3deg);
}

#collage #img-3 {
-webkit-transform: rotate(-6deg);
-moz-transform: rotate(-6deg);
}

#collage #img-4 {
-webkit-transform: rotate(5deg);
-moz-transform: rotate(5deg);
}

#collage #img-5 {
-webkit-transform: rotate(6deg);
-moz-transform: rotate(6deg);
}

#collage #img-6 {
-webkit-transform: rotate(-3deg);
-moz-transform: rotate(-3deg);
}

#collage #img-7 {
-webkit-transform: rotate(4deg);
-moz-transform: rotate(4deg);
}

#collage #img-8 {
-webkit-transform: rotate(-5deg);
-moz-transform: rotate(-5deg);
}



ul.ul-image-replace {
	list-style-type: none;
	padding: 0;
	margin: 0;
}


/* this is kind of ugly, but the most decent image I could find right now */
ul.ul-image-replace li {
background-image: url(../images/check_mark_blue.png);
background-repeat: no-repeat;
background-position: 0.6em;
padding-left: 3em;
line-height: 1.5em;
}



