/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * Document CSS
 *
 * COLOR CODES
 * PURPLE: #a58ab3
 * TEAL: #0a9aaf
 */

html {
}

body {
	font-family: calluna-sans, "helvetica", "ariel", sans-serif;
	font-size: 10pt;
	background: url(../images/background.jpg);
	color: #555;
	line-height: 1.3;
}

.secondary {
	color: #999999;
	font-size: 10pt;
	text-shadow: 1px 1px 1px white;
}

.content-body {
	width: 1000px;
	min-height: 600px;
	margin: 0 auto;
}

.main-content {
	width: 1000px;
	margin: 0 auto;
	padding: 10px 0 50px 0;
}

.command-bar-container {
	height: 70px;
}

.command-bar {
	background: #a58ab3;
	border-radius: 3px;
	font-size: 12pt;
	padding: 10px 20px;
	color: white;
	height: 30px;
}


.command-bar li {
	float: left;
	padding: 5px;
	margin-right: 130px;
}

.command-bar li:last-child {
	float: right;
}


.command-bar input {
	margin-left: 6px;
	margin-right: 6px;
}

/*
 * Standard stuff
 */

h1, h2, h3, h4, h5, h6 {
	font-family: cronos-pro;
	text-shadow: 0.5px 0.5px 0.5px #FFFFFF;
	margin: 0 0 0.5em;
}

h1 {
	font-size: 25pt;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 130%;
}

h4 {
	font-size: 120%;
}

p {
	margin: 0.5em 0 1em;
}

a:hover {
	text-decoration: underline;
}

.dark {
	color: white;
}

.dark h4 {
	color: white;
	text-shadow: none;
}

/*
 * Layout
 */

.two-col-left-narrow-float {
	width: 280px;
	float: left;
}

.two-col-right-wide {
	width: 700px;
	margin-left: 300px;
}

.two-col-left {
	width: 640px;
	margin: 10px 10px 0 10px;
}

.two-col-right {
	width: 300px;
	margin: 10px 20px 0 20px;
	float: right;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-30 {
	margin-top: 30px;
}
/*
 * Header
 */

header {
	width: 100%;
	-moz-box-shadow: 0px 0px 1px 1px #999;
	background: #241901;
}

header .header-wrap {
	width: 960px;
	margin: 0 auto;
/*	padding: 20px 20px 8px;*/ /* top - right+left - bottom */
}

#logo {
	float: left;
	font-size: 16pt;
	color: white;
	font-family: cronos-pro, sans-serif;
	display: inline-block;
}

#logo a {
	text-decoration: none;
}

#logo span {
	display: inline-block;
	padding: 10px 17px;
}

#logo-come {
	background: #9cc500;
}

#logo-play {
	background: #a0d8ef;
}

#logo-learn {
	background: #df595f; 
}

#service-list {
	color: white;
	text-shadow: 1px 1px #666666;
	font-family: cronos-pro;
	float: right;
	position: relative;
	background: #fe9e21;
	margin: 10px 20px 0 0;
	padding: 5px 10px;
	border-radius: 3px;
}

#service-list:hover {
}

#facebook-connect {
	width: 154px;
	height: 22px;
	background: url(../images/fb-login.png) no-repeat;
	float: right;
	position: relative;
}

/**
 * forms and Inputs
 */

.search-result {
	width: 320px;
	display: inline-block;
	margin-right: 5px;
}

.search-result img {
	width: 320px;
	border: #E0E0E0;
	margin: 0 auto;
}

.search-result h4 {
	font-size: 14pt;
	margin-bottom: 2px;
}

.search-result .price {
	width: 34px;  /*This is not enough width to 3 digit numbers*/
	height: 32px;
	padding-top: 2px;
	border-radius: 17px;
	font-size: 14pt;
	color: white;
	text-align: center;
	background: #0a9aaf;
	float: right;
	margin-top: 10px;
}

.page-nav ul {
	float: right;
}

.page-nav ul li{
	display: inline;
	float: left;
	margin-right: 10px;
}

.page-nav .active {
	color: #0a9aaf;
	font-weight: bold;
}

fieldset, .search-result, .panel {
	border: 1px solid #E0E0E0;
	border-radius: 2px;
	background: white;
	padding: 10px 10px;
	margin-bottom: 10px;
	text-shadow: none;
	vertical-align: bottom;
}

.search-result:hover {
	border: 1px solid #cccccc;
	box-shadow: 0px 0px 3px #999;
	-moz-transition: box-shadow 0.5s;
}

fieldset:hover, .panel:hover {
	border: 1px solid #cccccc;
	-moz-transition: border 1s;
}

fieldset h3 {
	font-size: 120%;
	color: #666;
	font-family: museo-sans-rounded;
	margin: 2px 0 10px;
}

fieldset label {
	display: block;
	margin: 20px 0 5px;
	font-weight: bold;
}

.description {
	font-size: 11pt;
}

.row {

}

.column {
	display: inline-block;
	margin: 0 30px 0 0;
	vertical-align: top;
}

.half {
	width: 40%;
}

input, textarea {
	padding: 4px;
	margin: 1px 1px 6px;
	border-radius: 3px;
	border: 1px solid #999999;
	font: museo-sans-rounded; 
	font-size: 13pt;
}

input[type="text"], textarea {
	width: 500px;
}

input[type="file"] {
	border: none;
	box-shadow: none;
}

select {
	padding: 4px;
	margin: 2px 0 5px;
	border-radius: 3px;
	border: 1px solid #999999;
	box-shadow: 1px 1px #888888;
	font: museo-sans-rounded; 
	font-size: 110%;
}

input[type="radio"], input[type="checkbox"] {
	margin: 0 8px 0 0;
	width: 20px;
	height: 20px;
	vertical-align: bottom;
}

input[type="submit"] {
	background: #9cc500;
	border: 1px solid #9cc500;

	font-size: 12pt;
	color: white;
	
	padding: 6px 30px 5px;
	border-radius: 5px;
	text-shadow: 1px 1px 1px #999;
	cursor: pointer;
	vertical-align: middle;
}

button {
	font-size: 11pt;
	padding: 4px 20px 4px;
	box-shadow: 0px 0px 2px #7a7a7a;
	background: #0a9aaf;
	border: none;
	color: white;
	border-radius: 3px;
	font-family: museo-sans-rounded;
	cursor: pointer;
}
input[type="submit"]:hover {
	background: #50821d;
}

input:focus, textarea:focus {
	border: 2px solid #0a9aaf;
	margin: 1px 0px 4px;
	box-shadow: none;
}

.help-text {
	color: #999;
	margin: 2px 0 5px;
	font-size: 90%;
}

input.long {
	width: 500px;
}

input.medium {
	width: 300px;
}

input.short {
	width: 200px;
}

input.shorter {
	width: 120px;
}

input.tiny {
	width: 80px;
}

.tall {
	height: 180px;
}

/**
 * Search-box
 */

#search-box {
	background: #df595f;
	color: white;
	padding: 12px 20px 12px;
	border-radius: 5px;
	width: 650px;
	margin: 40px auto 50px;
	text-align: left;
	text-shadow: none;
	box-shadow: 0px 0px 10px #666666;
	top: 50px;
	left: 50%;
	margin-left: -325px;
	position: absolute;
}

.search-box-tagline {
	font-size: 150%;
	border-bottom: 1px solid white;
	padding: 2px 0 13px;
}

.search-box-form {
	padding: 15px 0 0;
	font-size: 120%;
}

#search-box input[type="submit"] {
	float: right;
}

#search-box input[type="text"] {
	margin-left: 8px;
	margin-right: 8px;
	border: 1px solid white;
}

#search-left-bar {
	background: #0a9aaf;
	padding: 20px 20px 10px;
	color: white;
	text-align: left;
	text-shadow: none;
}

#map {
	background: white;
	border: 1px #cccccc solid;
	width: 280px;
	height: 300px;
}

/**
 * Experiences page
 */

#action-bar {
}

#action-bar .price {
	font-size: 30pt;
	text-align: center;
}

#action-bar .price .unit {
	font-size: 18pt;
}

#action-bar .section {
	text-align: left;
	margin: 3px;
}

#action-bar .label {
	display: inline-block;
	width: 40px;
}

#action-bar input[type="submit"] {
	float: right;
}

/**
 * Footer
 */

footer {
	padding: 0px 0 30px 0px;
	color: #ACACAC;
	text-shadow: none;
	margin-top: 20px;
}

.footer-constrain {
	width: 1000px;
	margin: 0 auto;
	border-top: 1px solid #DEDEDE;
	padding: 15px 7px 0;
}

footer ul.footer-nav li {
	float: left;
	margin-right: 20px;
}

footer .copyright {
	float: right;
}

/*
 * Generics
 */
.centered {
	margin: 0 auto;
}

.clear {
	clear: both;
}

/**
 * Image carasoul
 */

#exp-main-image-outer {
	border: 1px solid #EFEFEF;
	background: white;
	margin-bottom: 10px;
	overflow: hidden;
	height: 450px;
	position: relative;
}

#exp-main-image-frame {
	border: 5px solid white;
	position: absolute;
	left: 0;
	top: 0;
	height: 440px;
	width: 638px;
}

.bottom-pad {
	height: 5px;
	position: absolute;
	top: 600px;
	width: 100%;
	background: red;
}

#exp-main-image {
	position: relative;
}

#exp-main-image img {
	border: 5px solid white;
	position: absolute;
}

#exp-thumbs {
	overflow: hidden;
	position: relative;
	margin-top: 3px;
}

.exp-thumbs-img {
	width: 70px;
	height: 70px;
	cursor: pointer;
	border: 3px solid white;
	margin-right: 2px;
}

.primary #exp-thumbs ul {
	list-style: none;
	margin-top: 10px;
	
}

.primary #exp-thumbs li {
	float: left;
}

/**
 * Default Val CSS
 */

.default-val-parent {
	position: relative;
}

.default-val-text {
	position: absolute;
	left: 0;
	top: 0;
	color: #BBBBBB;
	padding: 15px 0 6px 10px;
	overflow: hidden;
	text-shadow: none;
}


/* dashboard / all listings page */

div.activate {
	float: right;
}


ul.listings li.listing-item {
}

.listing {
}

.listing h4 a {
	text-decoration: none;
	color: #a58ab3;
}

.listing-title {
	width: 150px;
	display: inline-block;
	margin-right: 10px;
}

.listing-image  {
	width: 150px;
	display: inline-block;
	text-align: center;
	margin-right: 30px;
	vertical-align: middle;
}

.listing-item-short {
	width: 120px;
	display: inline-block;
	text-align: center;
	margin-right: 10px;
	vertical-align: middle;
}

.listing-value {
	font-size: 150%;
	margin-top: 5px;
}

.listing-actions {
	vertical-align: middle;
	margin-top: 30px;
	float: right;
}

.listing-actions button {
	margin-left: 10px;
}



/* Inbox */

.message {
	padding: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #E0E0E0;
}

.user {
	width: 150px;
	display: inline-block;
	text-align: left;
	margin-right: 10px;
	vertical-align: middle;
	overflow: hidden;
}

.user-name {
	font-size: 90%;
}

.user-location {
	font-size: 80%;
}

.user-image  {
	width: 100px;
	display: inline-block;
	text-align: center;
	margin-right: 30px;
	vertical-align: middle;
}

.messsage-summary {
	width: 500px;
	display: inline-block;
	text-align: left;
	margin-right: 10px;
	vertical-align: middle;
	overflow: hidden;
}

.message-subject {
	font-size: 120%;
}

.message-body {
	margin-top: 5px;
}


.msg-right-block {
	width: 200px;
	display: inline-block;
	text-align: center;
	margin-top: 35px;
	vertical-align: middle;
	float: right;
}

.message-timestamp {
	width: 200px;
	display: inline-block;
	text-align: right;
	vertical-align: middle;
/*	overflow: hidden;*/
}

.message-actions {
	vertical-align: middle;
	margin-top: 5px;
	float: right;
}

.message-actions button {
	margin-left: 10px;
}

/**
 * Front page
 */
#front-page {
	min-height: 800px;
	background: url(../images/background.jpg);
}

#front-page header {
	position: fixed;
	top: 0;
}

#front-page .top-spacer {
	height: 200px;
}

#front-page #search-box {
	position: fixed;
	top: 40px;
}

.image-grid {
	margin: 0 auto;
}

.front-page-col {
	width: 400px;
	float: left;
}

.front-page-item {
	display: inline-block;
	width: 390px;
	border: 5px solid white;
	padding: 0;
	position: relative;
	text-shadow: none;
	line-height: 0;
	box-shadow: 0px 0px 3px #AAA;
	background: white;
}

.front-page-item:hover {
	box-shadow: 0px 0px 4px #666;
}

.front-page-item img {
	width: 390px;
}

.front-page-item:hover .thumb-details {
	-moz-transition: opacity 0.5s;
	opacity: 1;
}

.front-page-item .thumb-details {
	-moz-transition: opacity 0.5s;
	line-height: 1.2;
	opacity: 0;
	position: absolute;
	bottom: 10px;
	left: 0px;
	right: 0px;
	background: white;
	/* border-radius: 2px;
	box-shadow: 0px 0px 5px #666; */
}

.fp-item-wrapper {
	padding: 10px;
}

.front-page-item .fp-item-price {
	float: right;
	width: 40px;
	font-size: 12pt;
	text-align: center;
	background: #df595f;
	color: white;
	margin-right: 10px;
	padding: 5px 10px;
}

.front-page-item .fp-item-title, 
.front-page-item .fp-item-merchant {
	padding: 0;
	margin: 0;
}

.front-page-item .fp-item-title a {
	font: museo-sans-rounded;
	font-size: 11pt;
	color: #555555;
	text-decoration: none;
}

.front-page-item .fp-item-merchant a {
	font: museo-sans-rounded;
	color: #808080;
	font-size: 9pt;
	text-decoration: none;
}




